{% extends "layout.njk" %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set pageName = "Webové portály" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    "items": [
    { text: 'ID-SK frontend', href: '/' + legacyQuery },
    { text: pageName }
    ]
  }) }}
{% endblock %}  

{% block content %}

    <span class="govuk-caption-xl">Príklady použitia ID-SK</span>
    <h1 class="govuk-heading-xl">{{pageName}}</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        <h2 class="govuk-heading-s">Obsah:</h2>
          <ul class="govuk-list">
            <li><a href="#korona-gov-sk">korona.gov.sk</a></li>
            <li><a href="#portal-isoh">Portál ISOH</a></li>
          </ul>

            <h3 class="govuk-heading-m" id="korona-gov-sk">Korona.gov.sk</h3>
            <p class="govuk-body">Webové sídlo zhromažďujúce všetky informácie o epidémii koronavírusu.  Stránka sa stala hlavným informačným portálom vlády o prebiehajúcej epidémii, sústreďuje informácie o opatreniach, štatistiky a služby ako registrácia na očkovanie, testovanie alebo registrácia pri príchode zo zahraničia. </p>

                <h4 class="govuk-heading-s">Odkaz</h4>
                <a href=https://korona.gov.sk/" title="korona.gov.sk">korona.gov.sk</a>
                
                <h4 class="govuk-heading-s">Správca</h4>
                <a href=”https://www.mirri.gov.sk/" title="Ministerstvo investícií, regionálneho rozvoja a informatizácie SR">Ministerstvo investícií, regionálneho rozvoja a informatizácie SR</a><

                <h4 class="govuk-heading-s">Dodávateľ</h3>
                <ul class="govuk-list">
                  <li>
                    dobrovolníci,
                  </li>
                  <li>
                    slovensko.help, 
                  </li>
                  <li>
                    bot.media,  
                  </li>
                    <li>
                    Luigi's Box,   
                  </li>
                   <li>
                    Lighting Beetle*,    
                  </li>
                   <li>
                    Slovensko IT.    
                  </li>
                </ul>
         </div>
         <div class="govuk-grid-column-full">
          <img width="100%" src="" alt="Korona.gov.sk úvodná stránka"><p></p>
        </div>

        <div class="govuk-grid-column-two-thirds">
            <h3 class="govuk-heading-m" id="#portal-isoh">ISOH  - Informačný systém odpadového hospodárstva</h3>
            <p class="govuk-body">Portál ISOH pomáha sprehľadniť, zefektívniť a zjednotiť tok informácií o odpade, a tak racionálnejšie rozhodovať v oblasti procesov odpadového hospodárstva.</p>

                <h4 class="govuk-heading-s">Odkaz</h4>
                <a href="https://www.isoh.gov.sk/uvod.html" title="www.isoh.gov.sk">www.isoh.gov.sk</a>
                
                <h4 class="govuk-heading-s">Správca</h4>
                <a href=https://www.mirri.gov.sk/" title="Ministerstvo životného prostredia SR">Ministerstvo životného prostredia SR</a>            
         </div>
         <div class="govuk-grid-column-full">
          <img width="100%" src="" alt="ISOH - úvodná stránka"><p></p>
        </div> 
        
    </div>

   

{% endblock %}
